@model IEnumerable<ECWebsite.Models.EF.Role>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Orders List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Manage" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách Manage</span>
        </nav>
    </div>
</div>
<div class="row m-b-0">
    <div class="col-lg-8">

    </div>
    <div class="col-lg-4 text-right ">
        <a class="btn btn-success btn-tone m-r-5" asp-controller="ManageRoles" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm Manage</span></a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Miêu tả</th>
                <th scope="col">Cập nhật</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a asp-area="Manage" asp-controller="ManageRoles" asp-action="Details" asp-route-id="@item.RoleId" class="btn btn-info btn-tone m-r-5">Xem</a>
                            <a asp-area="Manage" asp-controller="ManageRoles" asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-secondary btn-tone m-r-5">Sửa</a>
                            <a asp-area="Manage" asp-controller="ManageRoles" asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger btn-tone m-r-5">Xóa</a>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>

